.App {
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 1fr;
}

.header {
    background-color: rgb(40, 44, 52);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: rgb(62, 68, 81);

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer {
    height: 30px;
    background-color: rgb(40, 44, 52);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
