.headerInnerWrapper {
    max-width: 1600px;
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gameName {
    font-size: 3rem;
}

.scores {
    font-size: 1.8rem;
    display: flex;
    gap: 20px;
}

.vl {
    height: 40px;
    width: 3px;
    background-color: black;
}
